pip==24.0
streamlit
configparser
snowflake-snowpark-python
##snowflake-connector-python
transformers==4.32.0
tf-keras
torch
pandas
matplotlib
pyarrow<19.0.0
streamlit-aggrid
st_snowauth


##altair
##pandas
##streamlit
##snowflake-connector-python
##snowflake-snowpark-python
##requests
